<div class="listProductsFather">
  <div class="listProducts">
    <div class="list-group" style="height: auto">
      <a
        (click)="$event.preventDefault(); desplazamiento('accesorios')"
        class="list-group-item py-1"
        >Accesorios</a
      >

      <a
        (click)="$event.preventDefault(); desplazamiento('accesorios')"
        class="list-group-item py-1"
        >Almohadas</a
      >
      <a
        (click)="$event.preventDefault(); desplazamiento('accesorios')"
        class="list-group-item py-1"
        >Basecamas</a
      >
      <a
        (click)="$event.preventDefault(); desplazamiento('colchones')"
        class="list-group-item py-1"
        >Colchones</a
      >
      <a (click)="desplazamiento('colchones')" class="list-group-item py-1"
        >Comedores</a
      >
      <a
        (click)="$event.preventDefault(); desplazamiento('colchones')"
        class="list-group-item py-1"
        >Espumas</a
      >
      <a
        (click)="$event.preventDefault(); desplazamiento('salas')"
        class="list-group-item py-1"
        >Salas</a
      >
    </div>
  </div>
</div>
