<p class="bg-dark text-white rounded-4">Salas</p>
<div id="carouselExample7" class="carousel slide">
  <div class="carouse7">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/salas/sal1.jpg" class="d-block w-100" alt="..." />
      </div>

      <div class="carousel-item">
        <img
          src="assets/salas/sal2.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/salas/sal3.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/salas/sal4.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/salas/sal5.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/salas/sal6.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/salas/sal7.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/salas/sal8.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/salas/sal9.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/salas/sal10.jpg"
          class="d-block w-100"
          alt="comedores"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample7"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample7"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
