<div class="accesorios">
  <div class="Achildren1">
    <p class="bg-dark text-white rounded-4">Colchones</p>
    <div id="carouselExample4" class="carousel slide">
      <div class="carouse4">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/colchones/col1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>

          <div class="carousel-item">
            <img
              src="assets/colchones/col2.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/colchones/col3.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/colchones/col4.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/colchones/col5.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample4"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample4"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="Achildren2">
    <p class="bg-dark text-white rounded-4">Comedores</p>
    <div id="carouselExample5" class="carousel slide">
      <div class="carouse5">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/comedores/come1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/comedores/come2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/comedores/come3.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample5"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample5"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="Achildren3">
    <p class="bg-dark text-white rounded-4">Espumas</p>
    <div id="carouselExample6" class="carousel slide">
      <div class="carouse6">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/espumas/esp1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/espumas/esp2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/espumas/esp3.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/espumas/esp4.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/espumas/esp5.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/espumas/esp6.jpg"
              class="d-block w-100"
              alt="comedores"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample6"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample6"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
